
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page500</title>
</head>
<body>
<div>
	Server taarafında bir şeyler ters gitti. Lütfen daha sonra tekrar deneyiniz.
    Halledecuk
</div>
</body>
</html>
